<aside class="sidebar">
  <div class="brand">
    <div class="logo">CM</div>

    <div>
      <h2>Cable Studio</h2>
      <span>Management System</span>
    </div>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      Dashboard
    </a>

    <a routerLink="/customers" routerLinkActive="active">
      Customers
    </a>

    <a routerLink="/packages" routerLinkActive="active">
      Packages
    </a>

    <a routerLink="/payments" routerLinkActive="active">
      Payments
    </a>
  </nav>
</aside>
